<a href="https://www.kaggle.com/code/joannabober/exploring-nyc-public-school-test-result-s?scriptVersionId=260006220" target="_blank"><img align="left" alt="Kaggle" title="Open in Kaggle" src="https://kaggle.com/static/images/open-in-kaggle.svg"></a>

# Case stuudy description

Every year, American high school students take the SAT, a standardized test designed to assess skills in literacy, numeracy and writing. The SAT consists of three sections:

* Reading
* Math
* Writing

Each section is scored out of 800 points, making the total maximum score 2400 (pre-2016 scale). The SAT plays a critical role in college admissions, influencing opportunities for students across the country.

## Purpose of the Analysis

This analysis focuses on SAT performance within New York City public high schools. Understanding how students perform across different schools has significant implications for:

* Education policymakers and government agencies;

* School administrators and researchers;

* Parents and guardians evaluating school quality;

* Equity advocates monitoring disparities in educational outcomes.


You have been provided with a dataset named schools.csv, which contains performance data for NYC public schools.

This case study explores SAT test scores across New York Cityâ€™s public high schools using real-world education data. The main objective is to apply data manipulation and summary statistics to uncover patterns, compare performance across schools and boroughs and identify potential disparities. By analyzing reading, math and writing scores, this study aims to provide insights valuable to educators, policymakers, and families.

You have been tasked with analyzing SAT performance across New York City (NYC) public high schools by answering the following three key questions:

1. Which NYC schools have the best math results?
2. What are the top 10 performing schools based on the combined SAT scores?
3. Which single borough has the largest standard deviation in the combined SAT score?


# Analysis

1. Which NYC schools have the best math results?

The best math results are at least 80% of the maximum possible score of 800 for math.

In [1]:
# Import pandas package
import pandas as pd

In [2]:
# Read in the data
schools = pd.read_csv('../input/nyc-public-school/schools.csv')

# Preview the data
schools.head()

/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1458: RuntimeWarning: invalid value encountered in greater
  has_large_values = (abs_vals > 1e6).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in less
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in greater
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()

,school_name,borough,building_code,average_math,average_reading,average_writing,percent_tested
0,"New Explorations into Science, Technology and ...",Manhattan,M022,657,601,601,NaN
1,Essex Street Academy,Manhattan,M445,395,411,387,78.9
2,Lower Manhattan Arts Academy,Manhattan,M445,418,428,415,65.1
3,High School for Dual Language and Asian Studies,Manhattan,M445,613,453,463,95.9
4,Henry Street School for International Studies,Manhattan,M056,410,406,381,59.7

In [3]:
# Calculate the average math score to filter for schools with average math score >= 80% of maximum score
best_math_schools = schools[schools['average_math'] >= 0.8 * 800]

In [4]:
# Select the 'school_name' and 'average_math' columns and sort by 'average_math' in descending order
best_math_schools = best_math_schools[['school_name', 'average_math']].sort_values('average_math', ascending=False)

# Display the result
print(best_math_schools)

                                           school_name  average_math
88                              Stuyvesant High School           754
170                       Bronx High School of Science           714
93                 Staten Island Technical High School           711
365  Queens High School for the Sciences at York Co...           701
68   High School for Mathematics, Science, and Engi...           683
280                     Brooklyn Technical High School           682
333                        Townsend Harris High School           680
174  High School of American Studies at Lehman College           669
0    New Explorations into Science, Technology and ...           657
45                       Eleanor Roosevelt High School           641

2. What are the top 10 performing schools based on the combined SAT scores?

In [5]:
# Create a new column 'total_SAT' and calculate the total SAT score for each school
schools['total_SAT'] = schools['average_math'] + schools['average_reading'] + schools['average_writing']

# Select the 'school_name' and 'total_SAT' columns
top_10_schools = schools[['school_name', 'total_SAT']]

# Sort by 'total_SAT' in descending order
top_10_schools = top_10_schools.sort_values('total_SAT', ascending=False)

# Select the top 10 performing schools
top_10_schools = top_10_schools.head(10)

# Display the result
print(top_10_schools)

                                           school_name  total_SAT
88                              Stuyvesant High School       2144
170                       Bronx High School of Science       2041
93                 Staten Island Technical High School       2041
174  High School of American Studies at Lehman College       2013
333                        Townsend Harris High School       1981
365  Queens High School for the Sciences at York Co...       1947
5                       Bard High School Early College       1914
280                     Brooklyn Technical High School       1896
45                       Eleanor Roosevelt High School       1889
68   High School for Mathematics, Science, and Engi...       1889

3. Which single borough has the hughest standard deviation in the combined SAT score?

All numeric values are rounded to two decimal places.

In [6]:
# Group the data by borough and calculate the count, mean and standard deviation of total SAT scores
boroughs = schools.groupby('borough')['total_SAT'].agg(['count', 'mean', 'std']).round(2)

# Filtr for max standard deviation
largest_std_dev = boroughs[boroughs["std"] == boroughs["std"].max()]

# Rename the columns
largest_std_dev = largest_std_dev.rename(columns={'count': 'num_schools', 'mean': 'average_SAT', 'std': 'std_SAT'})

# Display the result
print(largest_std_dev)

           num_schools  average_SAT  std_SAT
borough
Manhattan           89      1340.13   230.29